.container {
    display: flex;
  }
  
  .heading {
    flex: 1; /* Takes 20% of the available space */
    background-color: #f0f0f0; /* Add a background color or other styling */
    padding: 20px; /* Add padding to the heading */
  }
  
  .graph {
    flex: 4; /* Takes 80% of the available space */
    background-color: #ffffff; /* Add a background color or other styling */
    padding: 20px; /* Add padding to the graph */
  }

  /* login.css */

/* Container styles */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Form styles */
  .form {
    width: 350px;
    padding: 20px;
   
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Input styles */
  input {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button styles */
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #0056b3;
  }
  
  /* Optionally, you can style the inputs and button more if needed */
  